/* Base styles provided by Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

/* Set the background color for the body */
body {
  background-color: #19191B;
}

/* Apply gradient effect to text */
.gradient {
  background-image: linear-gradient(to bottom right, #5AD7FF, #D357FF);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 1px 1px 16px rgb(255, 255, 255, 0.30);
}

/* Styles for the image wrapper */
.imageWrapper {
  position: relative;
  max-width: 126px;
  width: 100%;
  aspect-ratio: 25/6;
}

/* Animation to slide in the navigation */
@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply slide-in animation to the navigation */
nav {
  animation: slideIn 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  opacity: 0;
}

/* Animation to slide in the main content */
main {
  opacity: 0;
  transform: translateX(10px); /* Initial position */
  animation: slide-in-main 0.8s ease-in-out forwards;
}

/* Apply slide-in animation to the main content */
@keyframes slide-in-main {
  from {
    opacity: 0;
    transform: translateX(20px); /* Initial position slightly further */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Final position */
  }
}


/* Styles for the individual benefit items */
.benefit-item {
  opacity: 0;
  transform: translateX(100px); /* Initial position off-screen right */
  transition: opacity 1s ease-in-out 0.5s, transform 1s cubic-bezier(0.5, 0, 0.75, 0.5);
}

/* Apply slide-in animation to the benefit items */
.slide-in-benefit {
  opacity: 1;
  transform: translateX(0); /* Final position */
}




.gradient-border {
    border: 3px solid;
    border-image: linear-gradient(to bottom, #5AD7FF, #D357FF) 1;
    padding: 20px;
    text-align: center;
    gap: 8px;
    background-clip: border-box;
    border-radius: 10px;
  }


  .simple-gradient {
  background-image: linear-gradient(to bottom right, #5AD7FF, #D357FF);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}